body{
    background-color: #003772;
}

#logo{
    top: 10vw;
}

#logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header h1{
    color: white;
    font-family: "VCR OSD Mono";
    text-align: center;
}

main input{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 7vw;
    border-radius: 20px;
    width: 60%;
    font-family: "VCR OSD Mono";
}

#table {
    background-color: #eee;
    width: 60%;
    position: relative;
    left: 20%;
    top: 4vw;
    border-radius: 10px;
    font-family: "VCR OSD Mono";
}

#table th{
    position: relative;
    left: 3%;
    text-align: center;
    font-family: "VCR OSD Mono";
}

#table tr td{
    position: relative;
    top: 1vw;
}

#table tr td hr{
    width: 160%;
}

#salarioth{
    position: relative;
    left: 40%;
}

#limpar{
    width: 35%;
    position: relative;
    top: 9vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px){
    body{
        background-color: #003772;
    }
    
    #logo{
        top: 10vw;
    }
    
    #logo img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    header h1{
        color: white;
        font-family: "VCR OSD Mono";
        text-align: center;
    }
    
    main input{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 4vw;
        border-radius: 20px;
        width: 40%;
    }

    #salarioth{
        position: absolute;
        left: 9vw;
    }

    #limpar {
        width: 25%;
        position: relative;
        top: 8vw;
    }
}